@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8faf7;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

/* custom css using tailwind */
.flexs {
  @apply flex items-center;
}
.justify-centers {
  @apply flex justify-center items-center;
}

.justify-betweens {
  @apply flex justify-between items-center;
}
.transitions {
  @apply transition duration-300 ease-in;
}

/* scroll Bar */
.right::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.content::-webkit-scrollbar {
  width: 0;
}

.box-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.selected,
.selected a {
  background-color: #017efb;
  border-radius: 10px;
  color: #fff !important;
}

@layer base {
  .nav {
    grid-area: n;
  }
  .content {
    grid-area: c;
    /* height: calc(100vh - 50px) !important; */
  }
  .right {
    grid-area: r;
    /* height: calc(100vh - 85px); */
  }
  @media only screen and (max-width: 1279.8px) {
    .containerr {
      grid-template-areas:
        'n n n n n n n n n n n n'
        'c c c c c c c c c c c c'
        'c c c c c c c c c c c c';
    }
  }
}
/* Right bar */
.overview-card {
  background-color: #fff;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
}
.bg-balance {
  background-image: url('/images/bg-currency.svg');
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  /* background-color: rgba(37, 37, 229, 0.498); */
}
/* Modal */
.ReactModal__Content {
  background-color: rgb(255, 255, 255) !important;
  max-width: 45rem;
  max-height: min-content;
  margin: 0 auto;
  border-radius: 0.5rem !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}
.ReactModal__Content--after-open {
  transform: translateY(0) !important;
}
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.644) !important;
  backdrop-filter: blur(3px);
  z-index: 33;
}
/* Property Page */
.css-13cymwt-control {
  background-color: #fafafa !important;
  border: none !important;
  padding: 8px;
}
